# Package generated configuration file
# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
Port 22
# Use these options to restrict which interfaces/protocols sshd will bind to
#ListenAddress ::
#ListenAddress 0.0.0.0
Protocol 2
# HostKeys for protocol version 2
ClientAliveCountMax=60
ClientAliveInterval=60
GATEWAYPORTS yes
UsePAM yes
#Allowusers root

#SyslogFacility AUTHPRIV
UseDNS no
#X11Forwarding yes
#PasswordAuthentication yes
#GSSAPICleanupCredentials yes

#ChallengeResponseAuthentication no
#AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
#AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
#AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
#AcceptEnv XMODIFIERS
